body {
  background-color: #6D7B8D;
  opacity: 0.95;
  z-index: 10;
}

table {
  border-collapse: collapse;
  width: 95%;
  color:whitesmoke;
}

th,
td {
  border: 1px solid #ffffff53;
  text-align: center;
  padding: 5px;
  font-size: 18px;
}

th {
  background-color: #2450b797;
}

td {
  background-color: #4b629897;
}

.recharts-cartesian-axis-tick {
  font-size: 15px;
  font-family: sans-serif;
}

/* form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 28px;
} */